<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<title></title>
</head>
<body>
	<nav>
		<img id="times-logo" src="/pictures/nytimes.png"/>
		<div id="links"><a href="/provisions/search">Search</a></div>
	</nav>
		<br></br>
		<div class="scroll">
			<% for(var i = 0; i<response.results.lists.length; i++){ %>
				<% for(var j = 0; j<response.results.lists[i].books.length; j++){ %>
					<div id="image-scroll">
						<a href='/provisions/views/<%= response.results.lists[i].books[j].primary_isbn13 %>'>
								<img id="book-image" src="<%= response.results.lists[i].books[j].book_image %>"> </img>		
						</a>
					</div>
				<% } %>
			<% } %>
		</div>
</body>	
</html>