html{
	margin: 0px;
	padding: 0px;
}
.scroll{
	height: 40rem;
	white-space: nowrap;
	padding-bottom: 3rem;
	overflow: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	margin: 5px;
}
#image-scroll{
	height: 350px;
	width: 264px;
	display: inline-block;
	margin-left: 9px;
}
img{
	height: 350px;
	width: 264px;
}
#book-image:hover{
  border-color: #66afe9;
  box-shadow: 0 0 20px rgba(0, 0, 255, 3);
}
}
h1{
	float: left;
}
h3, #create-page{
	margin-left: 20px;
}
h4{
	float: right;
	margin-right: 15px;
	color: #f1f1f1;
}
#purchase-button{
	float: right;
	margin-right: 5px;
	font-size: 2rem;
}
#create-text2{
	font-size: 1.8rem;
	margin-left: 20px; 
	font: white;
}
#create-text{
	margin-top: 10px;
	font-size: 2rem;
	margin-left: 20px; 
	font: white;
}
#list-container{
	border-bottom: 1px dotted black;
	height: 120px;
}
#review-link{
	float: left;
	margin-top: 0;
}
a, #links{
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	font-size: 2.2rem;
	color: white;
}
#times-logo{
	height: 100px;
	width: 15%;
	padding: 0;
	margin-left: 10px;
	position: absolute;
	padding-bottom: 15px;
}
nav{
	background-color: black;
	color: white;
	overflow: hidden;
	font-size: 4rem;
}
.selectpicker{
	margin-top:  30px;
	margin-bottom: 30px;
	text-align: center;
}
form{
	text-align: center;
}